:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --black-text-color: #000000;
  --accent-blue-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --white-color: #ffffff;
  --secondary-dark-bcg-color: #2f303a;
  --third-bcg-color: #f5f4fa;
  --button-hover-color: #188ce8;
  --border-color: #ececec;
  --icons-border-and-fill: #afb1b8;
  --margin-gap: 30px;
  --modal-text: rgba(117, 117, 117, 0.5);
  --modal-border-gray: rgba(33, 33, 33, 0.2);
}
